body{
     color: white;
     background-color: steelblue;
}

.header{

     font-size: 2vw;
     text-align: center;
     background-color: rgb(23, 55, 82);
     padding: 3vw;
}

li{
     font-size: 1vw;
}

.drawing{
     background-image: URL(Pencil.jpeg);

}